Package: cstbox-ext-solea
Version: 1.0.0
Section: base
Priority: optional
Architecture: all
Depends: cstbox-core, cstbox-modbus
Maintainer: Eric Pascual <eric.pascual@cstb.fr>
Description: CSTBox SOLEA Modbus products support
    This package adds to an existing CSTBox framework the support
    for SOLEA Modbus products. 
